<DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
  <body>
      <div class="form-container">
        <form action="/update/{{ id }}" method="post">
          <h2>Update Person</h2>

          <label for="name-input">Name</label>
          <input type="text" name="name" placeholder="Your Name" required/>

          <label for="name-input">Age</label>
          <input type="text" name="age" placeholder="Your Age" required/>

          <label for="name-input">nationality id</label>
          <input type="text" name="nationalityId" placeholder="Your nationality id" required/>

          <label for="name-input">birthdate</label>
          <input type="date" name="birthDate" required/>

          <button type="submit">Submit</button>
        </form>
      </div>
  </body>
</html>
